*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-text{
    color: #F56EB3;
    font-size: 50px;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #460C68, #F56EB3, #460C68);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}
body{
    background-color: #460C68;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.filter-todo{
    width: 200px;
    font-size: 20px;
}

.date {
    color: #F56EB3;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.8rem;
    display: inline-block;
}

@media (max-width: 600px) {
    .date {
        font-size: 1.4rem;
        margin: 0 5px;
    }
}

.datetime{
    margin-right: 20px;
    color: #F56EB3;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-input {
    width: 100%;
    max-width: 500px;
    padding: 0.5rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 2rem;
}

@media (max-width: 600px) {
    .todo-input {
        font-size: 1.4rem;
        padding: 0.4rem;
    }
}


form input, 
form button {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: white;
    border-radius: 2rem;
}

form button {
    color: #F56EB3;
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}
form button:hover {
    color: white;
    background: #F56EB3;
}

.fa-plus-circle {
    margin-top: 0.3rem;
    margin-left: -8px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

@media (max-width: 720px) {
    .todo {
      font-size: 2.5vmin;
      padding-left: 0.2vw;
      margin: 0.5vh 0.2vw;
    }
}

.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.complete-btn {
    background: #F56EB3;
}

.trash-btn {
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    background: rgb(171, 171, 171);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

select {
    color:#F56EB3;
    width: 10rem;
    height: 3.2rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background:#F56EB3;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select::hover::after {
    background: white;
    color: #F56EB3;
}
